<!doctype html>
<html>
<head>
  {% if index_js %}<script src="{{ index_js }}"></script>
  <script src="logging.js"></script>{% endif %}
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="marmot_48.png">
  {% if manifest_json %}<link rel="manifest" href="manifest.json">{% endif %}
  {% if viewport %}<meta name="viewport" content="{{ viewport }}">{% endif %}
  {% if referrer %}<meta name="referrer" content="origin">{% endif %}
  <title>Killer Marmot: {{ short_explanation }}</title>
  <!-- Origin Trial Token, feature = getInstalledRelatedApps, origin = https://killer-marmot.appspot.com, expires = 2017-10-02 -->
  <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-10-02" content="Asx0ImrLjVZ+vCVuW82Qv3VwafGfpV4gOjw2qUsfWHVZ5vk/6pxSX+h5jIPTzxc5KeLBSZtRkckTCKeRK8+yOgUAAABfeyJvcmlnaW4iOiJodHRwczovL2tpbGxlci1tYXJtb3QuYXBwc3BvdC5jb206NDQzIiwiZmVhdHVyZSI6Ikluc3RhbGxlZEFwcCIsImV4cGlyeSI6MTUwNjkxNTgxNH0=">
  <!-- Origin Trial Token (for development), feature = Badging, origin = localhost:8080, expires = 2019-04-17 -->
  <meta http-equiv="origin-trial" data-feature="badging" data-expires="2019-04-17" content="ApB1CHJ0SWUphDj1uaAlS3j7s9FIHosNn8JLdgwcpY4DF63fEvM7C31k8pt7Gk8Y+HinNRANVkchG2R5frooXAsAAABKeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJmZWF0dXJlIjoiQmFkZ2luZyIsImV4cGlyeSI6MTU1NTQ1NDkzOX0=">
  <!-- Origin Trial Token, feature = Badging, origin = killer-marmot.appspot.com, expires = 2019-04-17 -->
  <meta http-equiv="origin-trial" data-feature="badging" data-expires="2019-04-17" content="ApKuhxTsU1tiGYBwSCsA2FENXPZjqTOZP9Z9LqjXzp+fctd7CdtoaCzjjR64z0PeRHcSyBgPnQRCEvC25gYQHA0AAABaeyJvcmlnaW4iOiJodHRwczovL2tpbGxlci1tYXJtb3QuYXBwc3BvdC5jb206NDQzIiwiZmVhdHVyZSI6IkJhZGdpbmciLCJleHBpcnkiOjE1NTU0NTQ4MjJ9">
</head>
<body>
  <div class="quote">
    <h1>Killer Marmot: {{ short_explanation }}</h1>
    <div class="spacer"></div>
    <p>Marmots are the best.</p>
    <img src="marmot_96.png">
  </div>
  <p>
    This is a test for <a href="https://developers.google.com/web/progressive-web-apps/">Progressive
      Web Apps</a>.
    {{ explanation }}
  </p>
  {% if custom_manifest %}
  <div class="log-section">
    <h2>Manifest</h2>
    <form action="/custom/" method="post">
      <p>This app has the following custom manifest:</p>
      <textarea cols="80" rows="20" name="manifest">{{custom_manifest}}</textarea>
      <p>Editing the manifest will create a new custom app and redirect to
      it. The app has the default icons unless new icons are specified.</p>
      <p><input type="submit" value="Update" /></p>
    </form>
  </div>
  {% endif %}
  {% if index_js %}<div id="logs"></div>
  <div class="log-section">
    <h2>POST-and-redirect</h2>
    <p>Click this button to send a POST request to another origin, which will
       subsequently redirect back here:</p>
    <p>
      <!-- See https://github.com/piotrswigon/redirectonpost -->
      <form method="POST" action="https://redirectonpost.appspot.com">
        <!-- value must be set to current URL (by onload event) -->
        <input type="hidden" id="continue_field" name="continue" />
        <input type="submit" value="Post!" />
      </form>
    </p>
    <p id="cameback" style="display: none">I see you're back!</p>
  </div>
  <div class="log-section">
    <h2>Custom beforeinstallprompt behavior</h2>
    <form method="GET">
      <p>
        <input type="radio" name="action" id="bip_none" value="none">
        <label for="bip_none">None (do nothing).</label><br>
        <input type="radio" name="action" id="bip_cancel" value="cancel">
        <label for="bip_cancel">Cancel (call preventDefault).</label><br>
        <input type="radio" name="action" id="bip_preempt" value="preempt">
        <label for="bip_preempt">Pre-empt (call prompt without preventDefault).</label><br>
        <input type="radio" name="action" id="bip_auto" value="auto">
        <label for="bip_auto">Auto (call preventDefault, wait, then call prompt).</label><br>
        <input type="radio" name="action" id="bip_manual" value="manual">
        <label for="bip_manual">Manual (call preventDefault, then add a button which calls prompt).</label><br>
      </p>
      <p>Timer: <input name="timer" id="bip_timer" size="1" /> seconds</p>
      <p><input type="submit" value="Try it" /></p>
    </form>
  </div>{% endif %}
  {% if index_js %}<div class="log-section" id="badge_section">
    <h2>Badging: Set/Clear the PWA's badge.</h2>
    <p><input name="badge" id="badge_content" size="1"/> <button id="set_badge">Set Badge</button></p>
    <p><button id="clear_badge">Clear Badge</button></p>
    <a href="https://github.com/WICG/badging/blob/master/explainer.md">Explanation of Badging</a>
    <p>Note: this will only work if the PWA is installed and running in a window.</p>
  </div>{% endif %}
  <p><a href="maskable.html">Explanation of maskable icons</a></p>
  <p><a href="multi-sw.html">Test page with multiple service workers</a></p>
  <p>
    <a href="/">Home</a>
    ·
    <a href="https://github.com/benfredwells/killer-marmot">Fork me on
      GitHub</a>
    ·
    Copyright 2017 Google Inc.
  </p>
</body>
</html>
