<!doctype html>
<html>
<head>
  {% if index_js %}<script src="{{ index_js }}"></script>
  <script src="logging.js"></script>{% endif %}
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="marmot_48.png">
  {% if manifest_json %}<link rel="manifest" href="manifest.json">{% endif %}
  {% if viewport %}<meta name="viewport" content="{{ viewport }}">{% endif %}
  {% if referrer %}<meta name="referrer" content="origin">{% endif %}
  <title>Killer Marmot: {{ short_description }}</title>
  <!-- Origin Trial Token, feature = getInstalledRelatedApps, origin = https://killer-marmot.appspot.com, expires = 2017-10-02 -->
  <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-10-02" content="Asx0ImrLjVZ+vCVuW82Qv3VwafGfpV4gOjw2qUsfWHVZ5vk/6pxSX+h5jIPTzxc5KeLBSZtRkckTCKeRK8+yOgUAAABfeyJvcmlnaW4iOiJodHRwczovL2tpbGxlci1tYXJtb3QuYXBwc3BvdC5jb206NDQzIiwiZmVhdHVyZSI6Ikluc3RhbGxlZEFwcCIsImV4cGlyeSI6MTUwNjkxNTgxNH0=">
</head>
<body>
  <div class="quote">
    <h1>Killer Marmot: {{ short_description }}</h1>
    <div class="spacer"></div>
    <p>Marmots are the best.</p>
    <img src="marmot_96.png">
  </div>
  <p>
    This is a test for <a href="https://developers.google.com/web/progressive-web-apps/">Progressive
      Web Apps</a>.
    {{ description }}
  </p>
  {% if custom_manifest %}
  <div class="log-section">
    <h2>Manifest</h2>
    <form action="/custom/" method="post">
      <p>This app has the following custom manifest:</p>
      <textarea cols="80" rows="20" name="manifest">{{custom_manifest}}</textarea>
      <p>Editing the manifest will create a new custom app and redirect to
      it. The app has the default icons unless new icons are specified.</p>
      <p><input type="submit" value="Update" /></p>
    </form>
  </div>
  {% endif %}
  {% if index_js %}<div id="logs"></div>
  <div class="log-section">
    <h2>POST-and-redirect</h2>
    <p>Click this button to send a POST request to another origin, which will
       subsequently redirect back here:</p>
    <p>
      <!-- See https://github.com/piotrswigon/redirectonpost -->
      <form method="POST" action="https://redirectonpost.appspot.com">
        <!-- value must be set to current URL (by onload event) -->
        <input type="hidden" id="continue_field" name="continue" />
        <input type="submit" value="Post!" />
      </form>
    </p>
    <p id="cameback" style="display: none">I see you're back!</p>
  </div>{% endif %}
  <p>
    <a href="/">Home</a>
    ·
    <a href="https://github.com/benfredwells/killer-marmot">Fork me on
      GitHub</a>
    ·
    Copyright 2017 Google Inc.
  </p>
</body>
</html>
