<!doctype html>
<html>
<head>
  {% if index_js %}<script src="../static/{{ index_js }}"></script>
  <script src="../static/logging.js"></script>{% endif %}
  {% if manifest_json %}<link rel="manifest" href="manifest.json">{% endif %}
  {% if viewport %}<meta name="viewport" content="{{ viewport }}">{% endif %}
  {% if referrer %}<meta name="referrer" content="origin">{% endif %}
  <!-- Origin Trial Token, feature = getInstalledRelatedApps, origin = https://killer-marmot.appspot.com, expires = 2017-06-26 -->
  <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-06-26" content="AuxkYsoi9IrGTWt5xfe5hv526DT80yfBI3Gx8ellZN8ajCbX7WFnC9UB1yWWq9aCeZi0CufWzC0KXztxnW3d2wEAAABfeyJvcmlnaW4iOiJodHRwczovL2tpbGxlci1tYXJtb3QuYXBwc3BvdC5jb206NDQzIiwiZmVhdHVyZSI6Ikluc3RhbGxlZEFwcCIsImV4cGlyeSI6MTQ5ODUzODYwM30=">
</head>
<body>
  <h1>Marmots are the best.</h1>
  <p>{{ description }}</p>
  {% if index_js %}<div id="logs"></div>{% endif %}
</body>
</html>
