 <!doctype html>
<html>
<head>
  <script src="index.js"></script>
  <link rel="manifest" href="manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Origin Trial Token, feature = getInstalledRelatedApps, origin = https://killer-marmot.appspot.com, expires = 2017-06-26 -->
  <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-06-26" content="AuxkYsoi9IrGTWt5xfe5hv526DT80yfBI3Gx8ellZN8ajCbX7WFnC9UB1yWWq9aCeZi0CufWzC0KXztxnW3d2wEAAABfeyJvcmlnaW4iOiJodHRwczovL2tpbGxlci1tYXJtb3QuYXBwc3BvdC5jb206NDQzIiwiZmVhdHVyZSI6Ikluc3RhbGxlZEFwcCIsImV4cGlyeSI6MTQ5ODUzODYwM30=">
</head>
<body>
<h1>Marmot apps!</h1>
{% for app in apps %}
<a href="{{ app.name }}/">{{ app.description }}</a><br>
{% endfor %}
</body>
</html>
